@{
  Layout="Shared/_Layout.cshtml";
}
<h3>Update Band</h3>

<form action="/bands/{id}/update" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <input type="text" class="form-control" name="band-name" value="@Model.Name" required>
  <select name="number-members" class="form-control">
    <option value="@Model.NumberMembers" selected>@Model.NumberMembers</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <button type="submit" class="btn btn-primary btn-md">Update</button>
</form>
