@{
  Layout="Shared/_Layout.cshtml";
}
<h3>Welcome</h3>
<p>
  This website will assist in keeping track of your favorite venues and bands. You can add both to individual lists as well as adding performances to track which bands play where and which venues play the genres of music you are interested in.
</p>
