@{
  Layout="Shared/_Layout.cshtml";
}
<h3>New Venue</h3>

<form action="/venues/new" method="post">
  <input type="text" class="form-control" name="venue-name" placeholder="Venue name" required>
  <select name="venue-size" class="form-control">
    <option disabled selected>Venue size</option>
    <option value="small">Small</option>
    <option value="medium">Medium</option>
    <option value="large">Large</option>
  </select>
  <select name="venue-capacity" class="form-control">
    <option disabled selected>Venue capacity</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="150">150</option>
    <option value="200">200</option>
    <option value="250">250</option>
    <option value="300">300</option>
    <option value="350">350</option>
    <option value="400">400</option>
    <option value="450">450</option>
    <option value="500">500</option>
  </select>
  <button type="submit" class="btn btn-primary btn-md">Submit</button>
</form>
