@{
  Layout="Shared/_Layout.cshtml";
}
<h3>New Band</h3>

<form action="/bands/new" method="post">
  <input type="text" class="form-control" name="band-name" placeholder="Band name" required>
  <select name="number-members" class="form-control" required>
    <option disabled selected>Number of members</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="11">11</option>
    <option value="12">12</option>
  </select>
  <button type="submit" class="btn btn-primary btn-md">Submit</button>
</form>
