@{
  Layout="Shared/_Layout.cshtml";
  var venues = Model["venues"];
  var bands = Model["bands"];
}
<h3>Add A Performance</h3>

<form action="/performance" method="post">
  <label for="venue">Venue</label>
  <select name="venue" class="form-control" required>
    @foreach(var venue in venues)
    {
      <option value="@venue.Id">@venue.Name</option>
    }
  </select>
  <label for="genre">Genre</label>
  <select name="band" class="form-control" required>
    @foreach(var band in bands)
    {
      <option value="@band.Id">@band.Name</option>
    }
  </select>
  <button type="submit" class="btn btn-primary btn-md">Add</button>
</form>
