@{
  Layout="Shared/_Layout.cshtml";
  var venues = Model["venues"]; @*object list*@
  var genres = Model["genres"]; @*object list*@
}
<h3>Add Genre to Venue</h3>

<form action="/venue-genre" method="post">
  <label for="venue">Venue</label>
  <select name="venue" class="form-control" required>
    @foreach(var venue in venues)
    {
      <option value="@venue.Id">@venue.Name</option>
    }
  </select>
  <label for="genre">Genre</label>
  <select name="genre" class="form-control" required>
    @foreach(var genre in genres)
    {
      <option value="@genre.Id">@genre.Name</option>
    }
  </select>
  <button type="submit" class="btn btn-primary btn-md">Add</button>
</form>
